@model PersonDTO
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="col-md-10">
            <div class="card">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3>
                            Update Person
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <form id="form_validation" asp-action="Update" method="POST" novalidate="novalidate">

                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="form-label">Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" asp-for="FirstName" class="form-control" name="FirstName" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="form-label">Last Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" asp-for="LastName" class="form-control" name="LastName" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="form-label">Save Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" asp-for="FullName" class="form-control" name="FullName" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


