<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <link href="~/webpanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/webpanel/css/simple-sidebar.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <partial name="~/Views/Shared/PartialViews/_Sidebar.cshtml" />
        <div id="page-content-wrapper">
            <partial name="~/Views/Shared/PartialViews/_Navbar.cshtml" />
            @RenderBody()
        </div>
    </div>
    <partial name="~/Views/Shared/PartialViews/_Footer.cshtml" />
    @RenderSection("Scripts", required: false)
</body>
</html>
